* {
    border: 1px solid blue;
}

body {
    font-family: sans-serif;
}

img {
    border: 1px solid blue;
}

.hero {
    background-color: #1f2937;
    color: white;
}

.logo-links {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: white;
    margin: 4px;
}

.text-image {
    display: flex;
    margin-top: 50px;
    vertical-align: center;
    align-items: stretch;
}

.text {
    margin: 16px;
    height: auto;
    min-width: 200px;
}

.main-text {
    font-size: 48px;
    font-weight: 500;
    color: #f9faf8;
}

.sub-text {
    padding: 8px;
}

.button {
    padding: 8px;
    margin: 8px;
    border-radius: 20px;
    background-color: #3882f6;
    width: 100px;
}

.text-image img {
    height: auto;
    min-width: 500px;
    padding: 50px;
}

.random-info {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.images img {
    height: 200px;
    width: 200px;
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-shrink: 1;
}

.pictures {
    display: flex;
    gap: 30px;
    margin: 0 100px;
}

.quotation {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.quote {
    margin: 0 100px;
}

.character {
    text-align: right;
    margin-top: -100px;
    margin-right: 50px;
}